.home-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Tajawal', sans-serif;
  padding: 20px;
}

.club-logo {
  width: 280px;
  height: auto;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-bottom: 30px;
}

.welcome-text {
  font-size: 28px;
  color: #000000;
  margin-bottom: 10px;
}

.slogan {
  font-size: 20px;
  color: #f8bc06; /* أصفر الاتحاد */
  font-weight: bold;
}
